{% extends 'layout.html' %}

{% block content %}
    <div class="todo-form">
        <div>
            Todo Id: {{ id }}
        </div>
        <form method="POST", action="/updateTodo">
            <label for="id">Id: </label>
            <br />
            <input id="id" type="text" name="id" value=" {{ id }} " readonly="readonly">
            <br />
            <label for="todo">Title: </label>
            <br />
            <input id="todo" type="text" name="todo" value=" {{ value }} ">
            <br>
            <button type="submit">Update</button>
        </form>
    </div>
    {% endblock %}
